{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="text-center">About</h1>

    <p class="col-8 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto fugiat incidunt sapiente eum dolorem reiciendis dolorum repudiandae ratione quisquam nam quas provident soluta, doloribus quae, voluptatum neque? Error rem laboriosam laborum cupiditate adipisci eius animi quasi cum dolore, ipsam commodi placeat dolorem nisi mollitia natus rerum. Mollitia facilis voluptate architecto rem culpa. Culpa eligendi ullam explicabo expedita similique veritatis, excepturi eius exercitationem perferendis. Amet error harum tenetur a delectus eveniet quia fugiat cumque officia tempore et nemo, temporibus facilis. Similique eos facilis eius architecto mollitia ipsum. Similique fugit nihil facere, est fugiat neque sequi non libero suscipit quo beatae dolores expedita laudantium. Similique tempora cupiditate assumenda. Quos consequatur fugit architecto reprehenderit obcaecati, exercitationem dolorum at ullam dolore voluptates repellendus ipsa veritatis, aperiam amet similique eligendi! Consequatur voluptates fuga sunt fugit!</p>

    <div class="col-5 mx-auto">
        <img src="{{ asset("images/welcome.jpg") }}" alt="" width="100%">
    </div>
{% endblock %}
